# Dataset files (too large for GitHub)
data/

# Python cache files
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# IDE settings
.vscode/
.idea/

# Model files (optional)
*.npy
*.pkl
